body{
	background-color: black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.border{
	background-color: rgb(30,30,30);
	border: 10px solid black;
	margin: 2em;
	padding: 1em;
}
.header{
	text-align: center;
}
.nav{
	background-color: black;
	text-align: center;
	padding: 1em;
}
.body{

}
.footer{
	background-color: black;
	text-align: center;
}

table{
	background-color: rgb(30,30,30);
	width: 100%;
}
td{
	width: 50%;
	text-align: center;
	padding: 2em 0em 2em 0em;
}

.wtfast{
	font-size: 3em;
	font-weight: bold;
	color: white;
}
.onlinehelp{
	font-size: 2em;
	color: rgb(100,100,100);
}
a{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	padding: 1em;

}
a:hover{
	text-decoration: underline;
	color: red;
}
.footerText{
	color: white;
	font-size: 1.2em;
	margin: 1em;
}
.white{
	color: white;
	font-size: 1.2em;
	font-weight: bold;
}
img{
	border: 10px solid darkgrey;
}